// output: ../../../../../../publish/html/ko/Legal/field/sub_layout.html
-var imgUrl = '../images/dummy/'
doctype html
html(lang='ko')
  include ../include/head.jade
  body
    .skip_navi
      a(href='#content') 본문 바로가기
    header.header_wrap
    
    .container.detail.field
      .top_container
        include ../include/breadcrumb.jade
        h2.bg 자산운용 
          p.text "Kim & Chang is the largest and possibly the most recognisable law firm in Korea.<br /> 
            |It dominates the market across all practice areas where it secures a top tier berth."
            span - IFLR1000 (2017) -
        .wide_box
          .btn_box
            a(href='javascript:void(0);').share 공유
            a(href='javascript:void(0);').pdf pdf
            a(href='javascript:void(0);').print.btn_print 프린트
      .content_wrap
        .page_wrapper
          aside.aside.aside_sticky
            ul.lnb
              li.on: a(href='javascript:void(0);' data-name='field_info') 소개
              li: a(href='javascript:void(0);' data-name='lawyer') 구성원
              li: a(href='javascript:void(0);' data-name='notice_news') 관련 소식
            .tag_area.pc 
              p.title 관련 분야
              .left_tag
                ul
                  li: a(href='javascript:void(0);') 금융분쟁
                  li: a(href='javascript:void(0);') 금융조세
                  li: a(href='javascript:void(0);') 프로젝트파이낸스
                  li: a(href='javascript:void(0);') 사모투자
                  li: a(href='javascript:void(0);') 외국인투자
                  li: a(href='javascript:void(0);') 증권
                  li: a(href='javascript:void(0);') 프로젝트파이낸스
            .search_area.pc
              p.title 구성원 검색
              span.custom_input
                // 19.01.23 placeholder 문구 수정 
                input(type='text', placeholder='이름을 입력하세요.')
              a(href='javascript:void(0);').btn_select.btn_select_pc_js
                |업무분야
              a(href='javascript:void(0);').btn_search.hidden_text.btn_hover.bg_orange 검색
                span.icon 
          article#content.content 
            section(data-name='field_info')#field_info.field_infobox
              h3.hidden_text 소개
              .view_more_area
                // 수정내용 더보기 class 추가 19.01.29
                .top_text.hidden_area
                  p 
                    strong 김·장 법률사무소의 자산운용 그룹은 변호사 및 관련 전담인력을 포함하여 30명 김·장 법률사무소의 자산운용 그룹은 변호사 및 관련 전담인력을 포함하여 30명 김·장 법률사무소의 자산운용 그룹은 변호사 및 관련 전담인력을 포함하여 30명
                  p 축적된 경험<br /> 
                   |자산운용 그룹은 다국적 자산운용회사 및 국내 자산운용회사에 대한 다양하고 광범위한 자문업무를 수행한 경험을 바탕으로 자산운용과 관련한 모든 영역에서 종합적이고 수준 높은 서비스를 제공하고 있습니다.
                  p 최선의 고객 서비스<br />
                    |자산운용 그룹은 각 분야의 우수하고 탁월한 역량을 갖춘 구성원들의 협업을 통해 고객에게 맞춤형 조언을 신속하게 제공합니다.
                  p 축적된 경험<br /> 
                   |자산운용 그룹은 다국적 자산운용회사 및 국내 자산운용회사에 대한 다양하고 광범위한 자문업무를 수행한 경험을 바탕으로 자산운용과 관련한 모든 영역에서 종합적이고 수준 높은 서비스를 제공하고 있습니다.
                //
                  dl.field_info_text
                    dt 축적된 경험 
                    dd 자산운용 그룹은 다국적 자산운용회사 및 국내 자산운용회사에 대한 다양하고 광범위한 자문업무를 수행한 경험을 바탕으로 자산운용과 관련한 모든 영역에서 종합적이고 수준 높은 서비스를 제공하고 있습니다.
                    dt 최선의 고객 서비스
                    dd 자산운용 그룹은 각 분야의 우수하고 탁월한 역량을 갖춘 구성원들의 협업을 통해 고객에게 맞춤형 조언을 신속하게 제공합니다.
                    dt 최선의 고객 서비스
                    dd 자산운용 그룹은 각 분야의 우수하고 탁월한 역량을 갖춘 구성원들의 협업을 통해 고객에게 맞춤형 조언을 신속하게 제공합니다.
                .btn_center_box
                  a(href='javascript:void(0);').btn_view 더 보기
              .accordion_area.border_top
                // 업무분야 있음
                h4 주요 업무
                .field_text
                  ul
                    li 
                      a(href='javascript:void(0);') 금융분쟁
                    li 
                      a(href='javascript:void(0);') 금융조세
                    li 
                      a(href='javascript:void(0);') 프로젝트파이낸스
                    li 
                      a(href='javascript:void(0);') 금융조세
                    li 
                      a(href='javascript:void(0);') 프로젝트파이낸스
            
                // 업무분야 없음
                .box_gray.accordion_wrap.active
                  h4  
                    a.btn_toggle(href='javascript:void(0);').on 주요 서비스
                      span.hidden_text 접기
                  .box_open
                    h5 자산운용 규제 관련 자문
                    p.info_text 저희 자산운용 그룹은 관련 인허가를 보유한 회사를 포함한 고객에게 자산운용업에 대한 폭넓은 범위의 규제 및 준수 관련 사안에 관한 자문을 제공하고 있으며, 여기에는 영업, 기업지배구조, 내부통제, 규제 준수 등에 대한 자문이 포함됩니다. <br> 아울러, 국내 및 국제적으로 고객의 새로운 펀드 상품 출시 및 판매에 관한 자문을 제공하며, 국내에서 판매될 펀드의 설립 및 등록을 위한 작업을 지원해 드리고 있습니다. 특히 해외 펀드의 국내 판매 등록 업무에 있어서 독보적인 track record를 쌓고 있으며, 아울러, 국내 PEF의 설립 및 운용에 관한 풍부한 고객 자문 경험을 가지고 있습니다. 또한, 관련 공시 법령, 내부자거래 문제, 시세조종행위 등을 포함하여 국내 증권 및 자산 투자에 대해 고객들에게 자문을 제공하고 있습니다.
                .box_gray.accordion_wrap
                  h4
                    a.btn_toggle(href='javascript:void(0);') 주요 실적
                      span.hidden_text 펼치기
                  .box_open
                    p.info_text 저희 자산운용 그룹은 관련 인허가를 보유한 회사를 포함한 고객에게 자산운용업에 대한 폭넓은 범위의 규제 및 준수 관련 사안에 관한 자문을 제공하고 있으며, 여기에는 영업, 기업지배구조, 내부통제, 규제 준수 등에 대한 자문이 포함됩니다. <br> 아울러, 국내 및 국제적으로 고객의 새로운 펀드 상품 출시 및 판매에 관한 자문을 제공하며, 국내에서 판매될 펀드의 설립 및 등록을 위한 작업을 지원해 드리고 있습니다. 특히 해외 펀드의 국내 판매 등록 업무에 있어서 독보적인 track record를 쌓고 있으며, 아울러, 국내 PEF의 설립 및 운용에 관한 풍부한 고객 자문 경험을 가지고 있습니다. 또한, 관련 공시 법령, 내부자거래 문제, 시세조종행위 등을 포함하여 국내 증권 및 자산 투자에 대해 고객들에게 자문을 제공하고 있습니다. 
                    ul.field_history
                      li NPS 및 KIC의 투자관련 지원업무
                      li 화인파트너스의 화인자산관리 합병 관련 자문
                      li IMM Private Equity, Macquarie Korea Opportunities Management, MBK 파트너스, VIG 파트너스, 한앤컴퍼니, 우리블랙스톤 및 Standard Chartered Private Equity의 역내(onshore) PEF 조성     
          
            section(data-name='lawyer')#lawyer.field_lawyer
              h3.p_top0 구성원
              h4 주요 연락처
              .lawyer_slide
                // slide li 마지막에 class='last' 적용
                ul.lawyer_profile
                  li 
                    p.img 
                      a(href='javascript:void(0);').img_hover
                        img(src=imgUrl + 'pc/lawyer_01.jpg', alt='%게시물 제목%')
                    .lawyer_info
                      span.name 
                        a(href='javascript:void(0);') 김효상 
                          span 변호사
                      a(href='mailto:').email.hidden_text 이메일
                      span.telephone T.
                        a(href='tel:02-3703-4807') 02-3703-4807
                    
                  li 
                    p.img 
                      a(href='javascript:void(0);').img_hover
                        img(src=imgUrl + 'pc/lawyer_02.jpg', alt='%게시물 제목%')
                    .lawyer_info
                      span.name 
                        a(href='javascript:void(0);') 박마리 
                          span 변호사
                      a(href='mailto:').email.hidden_text 이메일
                      span.telephone T.
                        a(href='tel:02-3703-4807') 02-3703-4807
                  
                  //- li 
                  //-   p.img 
                  //-     a(href='javascript:void(0);').img_hover
                  //-       img(src=imgUrl + 'pc/lawyer_03.jpg', alt='%게시물 제목%')
                  //-   .lawyer_info
                  //-     span.name 
                  //-       a(href='javascript:void(0);') 데이빗, 조엘 
                  //-         span 변호사
                  //-     a(href='mailto:').email.hidden_text 이메일
                  //-     span.telephone T.
                  //-       a(href='tel:02-3703-4807') 02-3703-4807
                  //- li 
                  //-   p.img 
                  //-     a(href='javascript:void(0);').img_hover
                  //-       img(src=imgUrl + 'pc/lawyer_03.jpg', alt='%게시물 제목%')
                  //-   .lawyer_info
                  //-     span.name 
                  //-       a(href='javascript:void(0);') 데이빗, 조엘 
                  //-         span 변호사
                  //-     a(href='mailto:').email.hidden_text 이메일
                  //-     span.telephone T.
                  //-       a(href='tel:02-3703-4807') 02-3703-4807
                  
                  li.last
                    p.img
                      a(href='javascript:void(0);').img_hover
                        img(src=imgUrl + 'pc/lawyer_04.jpg', alt='%게시물제목')
                    .lawyer_info
                      span.name 
                        a(href='javascript:void(0);') 하지수 
                          span 변호사
                      a(href='mailto:').email.hidden_text 이메일
                      span.telephone T.
                        a(href='tel:02-3703-4807') 02-3703-4807
                  
                  
                  //- li 
                  //-   p.img 
                  //-     a(href='javascript:void(0);').img_hover
                  //-       img(src=imgUrl + 'mo/img_lawyer03.jpg', alt='%게시물 제목%')
                  //-   .lawyer_info
                  //-     span.name 
                  //-       a(href='javascript:void(0);') 데이빗, 조엘 
                  //-         span 변호사
                  //-     a(href='mailto:').email
                  //-     span.telephone T.
                  //-       a(href='tel:02-3703-4807') 02-3703-4807
                  //- 
                  //- li.last 
                  //-   p.img 
                  //-     a(href='javascript:void(0);').img_hover
                  //-       img(src=imgUrl + 'mo/img_lawyer04.jpg', alt='%게시물 제목%')
                  //-   .lawyer_info
                  //-     span.name 
                  //-       a(href='javascript:void(0);') 데이빗, 조엘 
                  //-         span 변호사
                  //-     a(href='mailto:').email
                  //-     span.telephone T.
                  //-       a(href='tel:02-3703-4807') 02-3703-4807
                    
                .slide_control
                  span.btn_prev  
                  span.btn_next
              .btn_center_box
                a(href='javascript:void(0)').btn_text_more 더 보기
            section(data-name='notice_news')#notice_news.notice_news
              h3.p_top0 관련 소식
              ul.notice_list
                -for(var i = 0; i < 6; i ++)
                  li
                    a(href='javascript:void(0);')
                      h5.notice_title 수상
                      p.notice_txt 4년 연속 ‘National Law Firm of the Year - South Korea’ 수상 – Asialaw Asia-Pacific
                      span 2018.08.30
              .btn_center_box
                a(href='javascript:void(0)').btn_text_more 더 보기  
            
            .tag_area.mo 
              p.title 관련 분야
              .left_tag
                ul
                  li: a(href='javascript:void(0);') 금융분쟁
                  li: a(href='javascript:void(0);') 금융조세
                  li: a(href='javascript:void(0);') 프로젝트파이낸스
                  li: a(href='javascript:void(0);') 사모투자
                  li: a(href='javascript:void(0);') 외국인투자
                  li: a(href='javascript:void(0);') 증권
                  li: a(href='javascript:void(0);') 프로젝트파이낸스
            .search_area.mo
              p.title 구성원 검색
              span.custom_input
                // 19.01.23 placeholder 문구 수정 
                input(type='text', placeholder='이름을 입력하세요.')
              a(href='javascript:void(0);').btn_select.btn_select_mo_js
                |업무분야
              a(href='javascript:void(0);').btn_search.hidden_text 검색
    // 업무분야 레이어팝업 : pc/mo 디자인 및 기능 다름
    // pc 전체 하이라이트
    .layer.layer_select.pc
      .layer_header
        h1 업무분야 선택
      .layer_cont
        .category_area 
          ul.highLight_tab.tab_menu.top_tab
            li
              a(href='javascript:void(0);' data-value='tab1') Practice 
                span 분야별
            li
              a(href='javascript:void(0);' data-value='tab2') Industry
                span 산업별
            li
              a(href='javascript:void(0);' data-value='tab3') Region
                span 지역별
              
          .tab_container.scroll_cont
            .tab_section.on
              ul.field_list.highLight_js
                li(data-value='tab1')
                  a(href='javascript:void(0);') 공공감사 지원
                li(data-value='tab1')
                  a(href='javascript:void(0);') 공정거래
                li(data-value='tab1')
                  a(href='javascript:void(0);') 관세 및 국제통상
                li(data-value='tab1')
                  a(href='javascript:void(0);') 국제중재·소송
                li(data-value='tab1').select
                  a(href='javascript:void(0);') 금융 규제
                li(data-value='tab1')
                  a(href='javascript:void(0);') 기업구조조정
                li(data-value='tab1')
                  a(href='javascript:void(0);') 기업인수·합병
                li(data-value='tab1')
                  a(href='javascript:void(0);') 기업지배구조
                li(data-value='tab1')
                  a(href='javascript:void(0);') 기업형사·화이트칼라범죄
                li(data-value='tab2')
                  a(href='javascript:void(0);') 방송·통신
                li(data-value='tab3')
                  a(href='javascript:void(0);') 베트남
                li(data-value='tab2')
                  a(href='javascript:void(0);') 보험
                li(data-value='tab2')
                  a(href='javascript:void(0);') 부동산·건설
                li(data-value='tab1')
                  a(href='javascript:void(0);') 부패방지·준법경영
                li(data-value='tab2')
                  a(href='javascript:void(0);') 비은행 금융회사
                li(data-value='tab1')
                  a(href='javascript:void(0);') 사모투자
                li(data-value='tab1')
                  a(href='javascript:void(0);') 소송
                li(data-value='tab2')
                  a(href='javascript:void(0);') 에너지
                li(data-value='tab2')
                  a(href='javascript:void(0);') 엔터테인먼트·스포츠·레저
                li(data-value='tab3')
                  a(href='javascript:void(0);') 유럽
                li(data-value='tab2')
                  a(href='javascript:void(0);') 은행
                li(data-value='tab1')
                  a(href='javascript:void(0);') 인사·노무
                li(data-value='tab3')
                  a(href='javascript:void(0);') 일본
                li(data-value='tab1')
                  a(href='javascript:void(0);') 자본시장
                li(data-value='tab2')
                  a(href='javascript:void(0);') 자산운용
                li(data-value='tab2')
                  a(href='javascript:void(0);') 전자금융·핀테크
                li(data-value='tab2')
                  a(href='javascript:void(0);') 제약·의료기기·식품·화장품
                li(data-value='tab1')
                  a(href='javascript:void(0);') 조세
                li(data-value='tab3')
                  a(href='javascript:void(0);') 중국
                li(data-value='tab2')
                  a(href='javascript:void(0);') 증권
                li(data-value='tab1')
                  a(href='javascript:void(0);') 지식재산권
                li(data-value='tab1')
                  a(href='javascript:void(0);') 파생상품
                li(data-value='tab1')
                  a(href='javascript:void(0);') 파이낸싱
                li(data-value='tab1')
                  a(href='javascript:void(0);') 프라이버시·정보보호
                li(data-value='tab2')
                  a(href='javascript:void(0);') 항공우주·방산 
                li(data-value='tab2')
                  a(href='javascript:void(0);') 해상
                li(data-value='tab1')
                  a(href='javascript:void(0);') 해외법무
                li(data-value='tab3')
                  a(href='javascript:void(0);') 홍콩
                li(data-value='tab1')
                  a(href='javascript:void(0);') 환경
                li(data-value='tab1')
                  a(href='javascript:void(0);') AML
                li(data-value='tab1')
                  a(href='javascript:void(0);') FX
                  
      a(href='javascript:void(0);').btn_layer_close
        span.hidden_text 레이어 닫기
    // mo select형
    .layer.layer_select.mobile
      .layer_header
        h1 업무분야 선택
      .layer_cont
        // 19.01.28 전체적으로 수정됨
        .category_area 
          ul.tab_menu.top_tab
            // 19.01.28 class='on' 적용
            li.on
              a(href='javascript:void(0);' data-value='tab1') Practice 
                span 분야별
            li
              a(href='javascript:void(0);' data-value='tab2') Industry
                span 산업별
            li
              a(href='javascript:void(0);' data-value='tab3') Region
                span 지역별
              
          .tab_container.scroll_cont
            // 19.01.28 class='on' 적용
            .tab_section.on 
              .field_list
                .tab_box.accordion_wrap
                  p 
                    a.btn_toggle.first(href='javascript:void(0);')
                      규제 및 컴플라이언스 
                      span.hidden_text 접기
                  // 3n개씩 노출 필요. 빈 li는 a태그 삭제
                  .box_open.select_box_open
                    // 19.01.28 삭제처리 
                      a(href='javascript:void(0);').select_box 선택
                    .scroll
                      ul.field_list
                        li
                          a(href='javascript:void(0);') 공공감사 지원
                        li.on
                          a(href='javascript:void(0);') 공정거래
                        li
                          a(href='javascript:void(0);') 인사·노무
                        li
                          a(href='javascript:void(0);') 관세 및 국제통상
                        li
                          a(href='javascript:void(0);') 조세
                        li
                          a(href='javascript:void(0);') 금융 규제
                        li
                          a(href='javascript:void(0);') 프라이버시·정보보호
                        li
                          a(href='javascript:void(0);') 부패방지·준법경영
                        li
                          a(href='javascript:void(0);') 환경
                .tab_box.accordion_wrap
                  p 
                    a.btn_toggle(href='javascript:void(0);')
                      경영 및 거래 법률 자문 
                      span.hidden_text 펼치기
                  .box_open.select_box_open
                    // 19.01.28 삭제처리
                      a(href='javascript:void(0);').select_box 선택
                    .scroll
                      ul.field_list
                        li
                          a(href='javascript:void(0);') 방송·통신
                        li
                          a(href='javascript:void(0);') 기업구조조정
                        li
                          a(href='javascript:void(0);') 지식재산권
                        li
                          a(href='javascript:void(0);') 기업인수·합병
                        li
                          a(href='javascript:void(0);') 파생상품
                        li
                          a(href='javascript:void(0);') 기업지배구조
                        li
                          a(href='javascript:void(0);') 파이낸싱
                        li
                          a(href='javascript:void(0);') 사모투자
                        li
                          a(href='javascript:void(0);') 해외법무
                        li
                          a(href='javascript:void(0);') 자본시장
                .tab_box.accordion_wrap
                  p 
                    a.btn_toggle(href='javascript:void(0);')
                      분쟁 해결 
                      span.hidden_text 펼치기
                  .box_open.select_box_open
                    // 19.01.28 삭제처리
                      a(href='javascript:void(0);').select_box 선택
                    .scroll
                      ul.field_list
                        li
                          a(href='javascript:void(0);') 국제중재·소송
                        li
                          a(href='javascript:void(0);') 기업형사·화이트칼라범죄
                        li
                          a(href='javascript:void(0);') 소송
                  
            .tab_section 
              // pc : 4개씩 , mo : 3개씩 열 맞춰서 노출
              .select_box_open 
                // 19.01.28 삭제처리 
                  a(href='javascript:void(0);').select_box 선택
                .scroll
                  ul.field_list
                    li
                      a(href='javascript:void(0);') 방송·통신
                    li
                      a(href='javascript:void(0);') 보험
                    li
                      a(href='javascript:void(0);') 부동산·건설
                    li
                      a(href='javascript:void(0);') 비은행 금융회사
                    li
                      a(href='javascript:void(0);') 에너지
                    li
                      a(href='javascript:void(0);') 엔터테인먼트·스포츠·레저
                    li
                      a(href='javascript:void(0);') 은행
                    li
                      a(href='javascript:void(0);') 자산운용
                    li
                      a(href='javascript:void(0);') 전자금융·핀테크
                    li
                      a(href='javascript:void(0);') 제약·의료기기·식품·화장품
                    li
                      a(href='javascript:void(0);') 증권
                    li
                      a(href='javascript:void(0);') 항공우주·방산 
                    li
                      a(href='javascript:void(0);') 해상
            .tab_section 
              // pc : 4개씩 , mo : 3개씩 열 맞춰서 노출
              .select_box_open 
                // 19.01.28 삭제처리
                  a(href='javascript:void(0);').select_box 선택
                .scroll
                  ul.field_list
                    li
                      a(href='javascript:void(0);') 베트남
                    li
                      a(href='javascript:void(0);') 유럽
                    li
                      a(href='javascript:void(0);') 일본
                    li
                      a(href='javascript:void(0);') 중국
                    li
                      a(href='javascript:void(0);') 홍콩
            // 처음 팝업 노출시에만 확인 가능 : 전체업무분야 19.01.28 삭제처리
              .tab_section.on 
              ul.field_list
                li
                  a(href='javascript:void(0);') 공공감사 지원
                li
                  a(href='javascript:void(0);') 공정거래
                li
                  a(href='javascript:void(0);') 관세 및 국제통상
                li
                  a(href='javascript:void(0);') 국제중재·소송
                li.select
                  a(href='javascript:void(0);') 금융 규제
                li
                  a(href='javascript:void(0);') 기업구조조정
                li
                  a(href='javascript:void(0);') 기업인수·합병
                li
                  a(href='javascript:void(0);') 기업지배구조
                li
                  a(href='javascript:void(0);') 기업형사·화이트칼라범죄
                li
                  a(href='javascript:void(0);') 방송·통신
                li
                  a(href='javascript:void(0);') 베트남
                li
                  a(href='javascript:void(0);') 보험
                li
                  a(href='javascript:void(0);') 부동산·건설
                li
                  a(href='javascript:void(0);') 부패방지·준법경영
                li
                  a(href='javascript:void(0);') 비은행 금융회사
                li
                  a(href='javascript:void(0);') 사모투자
                li
                  a(href='javascript:void(0);') 소송
                li
                  a(href='javascript:void(0);') 에너지
                li
                  a(href='javascript:void(0);') 엔터테인먼트·스포츠·레저
                li
                  a(href='javascript:void(0);') 유럽
                li
                  a(href='javascript:void(0);') 은행
                li
                  a(href='javascript:void(0);') 인사·노무
                li
                  a(href='javascript:void(0);') 일본
                li
                  a(href='javascript:void(0);') 자본시장
                li
                  a(href='javascript:void(0);') 자산운용
                li
                  a(href='javascript:void(0);') 전자금융·핀테크
                li
                  a(href='javascript:void(0);') 제약·의료기기·식품·화장품
                li
                  a(href='javascript:void(0);') 조세
                li
                  a(href='javascript:void(0);') 중국
                li
                  a(href='javascript:void(0);') 증권
                li
                  a(href='javascript:void(0);') 지식재산권
                li
                  a(href='javascript:void(0);') 파생상품
                li
                  a(href='javascript:void(0);') 파이낸싱
                li
                  a(href='javascript:void(0);') 프라이버시·정보보호
                li
                  a(href='javascript:void(0);') 항공우주·방산 
                li
                  a(href='javascript:void(0);') 해상
                li
                  a(href='javascript:void(0);') 해외법무
                li
                  a(href='javascript:void(0);') 홍콩
                li
                  a(href='javascript:void(0);') 환경
                li
                  a(href='javascript:void(0);') AML
                li
                  a(href='javascript:void(0);') FX
      a(href='javascript:void(0);').btn_layer_close
        span.hidden_text 레이어 닫기
        
    // 공유하기 레이어팝업
    .layer.layer_share
      .layer_header
        h1.br_bottom 공유하기
      .layer_cont
        .share_input
          a(href='javascript:void(0);') http://www.kimchang.com/
        a(href='javascript:void(0);').btn_orange URL 복사
      a(href='javascript:void(0);').btn_layer_close
        span.hidden_text 레이어 닫기
      
      
      
    footer.footer_wrap
    .dimm
    
    script(type='text/javascript').
      var header = $('header.header_wrap');
      front.pageLoading(header, '../include/header.html', function() {
        
      });
      var footer = $('footer.footer_wrap');
      front.pageLoading(footer, '../include/footer.html', function() {/* callback */});
      
      $(function() {
        // 상세페이지 진입시 header 태그 class bg_white 추가
        $('header').addClass('bg_black');
        var dimm = $('.dimm');
        
        // left menu click 함수
        var btnScrollAnchor = $('.lnb > li > a');
        var scrollTarget = $('.content_wrap');
        front.scrollAnchor(btnScrollAnchor, 600, scrollTarget, 'on', true);
        
        // accordion 함수
        var accordionWrap = '.accordion_wrap';
        var btnAccordion = $(accordionWrap).find('.btn_toggle');
        front.accordion(btnAccordion, accordionWrap, 'active', 200, function() {
          //- if (DEVICEWIDTH > 1024) {front.scrollAside(aside, content, asideOffsetTop);}
          // front.selectDropDown(btndropDown, scrollElement); 19.01.28 삭제처리
        });
        
        // 구성원 슬라이드 함수
        var slideWrap = $('.lawyer_slide');
        front.slider(slideWrap);
        
        // text 영역 가리기 19.01.29 스크립트 수정
        // 텍스트 더보기 버튼 함수
        var btnViewMore = $('.btn_view');
        front.btnClick(btnViewMore, function($this) {
          if ($this.hasClass('on')) {
            $this.parents('.view_more_area').find('.hidden_area').removeClass('on');$this.text('더보기').removeClass('on');
          }
          else {
            $this.parents('.view_more_area').find('.hidden_area').addClass('on');$this.text('접기').addClass('on');
          }
        });
        
        // 공유하기 레이어
        var btnShare = $('.btn_box a.share');
        var layershare = $('.layer_share');
        front.btnClick(btnShare, function($this) {
          $('body').addClass('hidden');
          dimm.addClass('on');
          layershare.addClass('on');
          // 레이어 팝업 닫기 버튼
          var closeBtn = layershare.find('.btn_layer_close');
          front.btnClick(closeBtn, function() {
            layershare.removeClass('on');
            $('body').removeClass('hidden');
            dimm.removeClass('on');
          });
        });
        
        // 업무분야 선택 레이어 19.01.21 수정 s
        // pc layer popup
        var btnSearchPcSelect = $('.btn_select_pc_js');
        var layerPcSelect = $('.layer_select.pc');
        front.btnClick(btnSearchPcSelect, function($this) {
          $('body').addClass('hidden');
          dimm.addClass('on');
          layerPcSelect.addClass('on');
          var btnHighLight = $('.highLight_tab > li > a');
          var targetElement = $('.layer_select.pc').find('.highLight_js');
          front.highLight(btnHighLight, 'on', targetElement);
          var closePcBtn = layerPcSelect.find('.btn_layer_close');
          front.btnClick(closePcBtn, function() {
            layerPcSelect.removeClass('on');
            $('body').removeClass('hidden');
            dimm.removeClass('on');
          });
        });
        
        // mo layer popup
        var btnSearchMoSelect = $('.btn_select_mo_js');
        var layerMoSelect = $('.layer_select.mobile');
        front.btnClick(btnSearchMoSelect, function($this) {
          $('body').addClass('hidden');
          dimm.addClass('on');
          layerMoSelect.addClass('on');
          var btnCateTab = $('.category_area .tab_menu > li > a');
          var tabContents = $('.layer_select.mobile').find('.category_area .tab_container');
          front.tabMenu(btnCateTab, 'on', tabContents, function($this) {
            //front.selectDropDown(btndropDown, scrollElement); 19.01.28 삭제처리
          });
          var closeMoBtn = layerMoSelect.find('.btn_layer_close');
          front.btnClick(closeMoBtn, function() {
            layerMoSelect.removeClass('on');
            $('body').removeClass('hidden');
            dimm.removeClass('on');
          });
        });
        // 업무분야 선택 레이어 19.01.21 수정 e

        // left menu fixed 함수
        var aside = $('aside.aside');
        var content = $('.content');
        var asideOffsetTop = Math.ceil($('aside.aside').offset().top);
        var nowPosition = $(window).scrollTop();
        if ($(window).width() > 1024) {
          front.scrollAside(aside, content, asideOffsetTop);
        }
        $(window).on('resize', function() {
          if ($(window).width() > 1024) {
            $('html, body').stop().animate({scrollTop: 0}, 0, 'easeOutCubic', function() {
              $('.fixed_box_mo').attr('style', '');
              nowPosition = $(window).scrollTop();
              asideOffsetTop = Math.ceil($('aside.aside').offset().top);
              front.scrollAside(aside, content, asideOffsetTop);
            });
          } else {
            aside.attr('style', '');
          }
        });
        
        // select dropdown 함수
        var btndropDown = $('.tab_section a.select_box');
        var scrollElement = $('.select_box_open').find('.scroll');
        //front.selectDropDown(btndropDown, scrollElement); 19.01.28 삭제처리
      });
      
      
