// output: ../../../../../../publish/html/ko/ip/search/sub_main_layout.html
-var imgUrl = '../images/dummy/'
doctype html
html(lang='ko')
  include ../include/head.jade
  body
    .skip_navi
      a(href='#content') 본문 바로가기
    header.header_wrap 
    
    // 각 서브별 검색 노출 타입 다름
    .container.search
      .top_visual_box
        .breadcrumb.main
          ul
            li: a(href='javascript:void(0);') Home 
            li: span 통합검색
        .breadcrumb
          ul
            li: a(href='javascript:void(0);') Home 
            li: span 통합검색
        h2 <strong>SEARCH</strong>통합검색
      .content
        .search_top
          span.big_input
            // 19.01.23 placeholder 문구 삭제
            input(type='text' placeholder='')
            a(href='javascript:void(0);').btn_delete.hidden_text 검색어 삭제
            a(href='javascript:void(0);').btn_search.hidden_text 검색
        
        // 검색영역
        .search_result 
          // 검색결과 있음 : 결과 없는 항목은 비노출, tab disabled 처리 
          // 19.01.23 문구 수정
          p.result_text
            span.text_orange '공공감사'
            |에 대한 
            span.mo_block
              span 총 32건
              |의 검색 결과가 있습니다.
          .search_cont_area
            .fixed_mo_tab.tab_sticky
              ul.anchor_tab.search_tab
                li.on
                  a(href='javascript:void(0);' data-name='expertise') EXPERTISE
                li
                  a(href='javascript:void(0);' data-name='professionals') PROFESSIONALS
                li
                  a(href='javascript:void(0);' data-name='insights') INSIGHTS
              //
                li
                  a(href='javascript:void(0);' data-name='about') ABOUT
              // 모바일에서만 적용되는 영역
              // 클릭 시 dimm 적용 / a class="on" 적용
            //
              .btn_menu_tab
                a(href='javascript:void(0);') 메뉴 전체보기 열기 
              .menu_tab_all 
                h3.title 메뉴 전체보기
                ul
                  li
                    a(href='javascript:void(0);') EXPERTISE
                  li
                    a(href='javascript:void(0);') PROFESSIONALS
                  li
                    a(href='javascript:void(0);') INSIGHTS
                  li
                    a(href='javascript:void(0);') ABOUT
            .search_content
              // 업무분야
              #expertise.search_section(data-name='expertise')
                h3 EXPERTISE 
                  span.text_orange 3건
                
                ul.field_list 
                  li
                    a(href='javascript:void(0);') 공공감사
                  li
                    a(href='javascript:void(0);') 공정거래
                  li
                    a(href='javascript:void(0);') 관세 및 국제통상
                  li
                    a(href='javascript:void(0);') 금융분쟁
                  li
                    a(href='javascript:void(0);') 공공감사
                  li
                    a(href='javascript:void(0);') 공공감사
                  li
                    a(href='javascript:void(0);') 관세 및 국제통상
                  li
                    a(href='javascript:void(0);') 공공감사
                
                .btn_center_box
                  a(href='javascript:void(0);').btn_view 더 보기 
              // 구성원
              #professionals.search_section(data-name='professionals')
                h3 PROFESSIONALS 
                  span.text_orange 11건
                
                .thumnail_list
                  ul.lawyer_profile
                    li 
                      p.img 
                        a(href='javascript:void(0);').img_hover
                          img(src=imgUrl + 'pc/lawyer_01.jpg', alt='%게시물 제목%')
                      .lawyer_info
                        span.name 
                          a(href='javascript:void(0);') 김효상 
                            span 변호사
                        a(href='mailto:').email
                        span.telephone TEL:
                          a(href='tel:02-3703-4807') 02-3703-4807
                        p.hashtag
                          span 
                            a(href='javascript:void(0);') Technology
                            |, 
                          span 
                            a(href='javascript:void(0);') Media & Telecomm-unications
                            |,
                          span 
                            a(href='javascript:void(0);') Antitrust & Competiti-on
                            |,
                          span 
                            a(href='javascript:void(0);') Intellectual Property
                    li 
                      p.img 
                        a(href='javascript:void(0);').img_hover
                          img(src=imgUrl + 'pc/lawyer_02.jpg', alt='%게시물 제목%')
                      .lawyer_info
                        span.name 
                          a(href='javascript:void(0);') 박마리 
                            span 변호사
                        a(href='mailto:').email
                        span.telephone TEL:
                          a(href='tel:02-3703-4807') 02-3703-4807
                        p.hashtag
                          span 
                            a(href='javascript:void(0);') Technology
                            |, 
                          span 
                            a(href='javascript:void(0);') Media & Telecomm-unications
                            |,
                          span 
                            a(href='javascript:void(0);') Antitrust & Competiti-on
                            |,
                          span 
                            a(href='javascript:void(0);') Intellectual Property
                    li 
                      p.img 
                        a(href='javascript:void(0);').img_hover
                          img(src=imgUrl + 'pc/lawyer_03.jpg', alt='%게시물 제목%')
                      .lawyer_info
                        span.name 
                          a(href='javascript:void(0);') 데이빗, 조엘 
                            span 변호사
                        a(href='mailto:').email
                        span.telephone TEL:
                          a(href='tel:02-3703-4807') 02-3703-4807
                        p.hashtag
                          span 
                            a(href='javascript:void(0);') Technology
                            |, 
                          span 
                            a(href='javascript:void(0);') Media & Telecomm-unications
                            |,
                          span 
                            a(href='javascript:void(0);') Antitrust & Competiti-on
                            |,
                          span 
                            a(href='javascript:void(0);') Intellectual Property
                    li 
                      p.img
                        a(href='javascript:void(0);').img_hover
                          img(src=imgUrl + 'pc/lawyer_04.jpg', alt='%게시물제목')
                      .lawyer_info
                        span.name 
                          a(href='javascript:void(0);') 하지수 
                            span 변호사
                        a(href='mailto:').email
                        span.telephone TEL:
                          a(href='tel:02-3703-4807') 02-3703-4807
                        p.hashtag
                          span 
                            a(href='javascript:void(0);') Technology
                            |, 
                          span 
                            a(href='javascript:void(0);') Media & Telecomm-unications
                            |,
                          span 
                            a(href='javascript:void(0);') Antitrust & Competiti-on
                            |,
                          span 
                            a(href='javascript:void(0);') Intellectual Property
                    li 
                      p.img 
                        a(href='javascript:void(0);').img_hover
                          img(src=imgUrl + 'pc/lawyer_03.jpg', alt='%게시물 제목%')
                      .lawyer_info
                        span.name 
                          a(href='javascript:void(0);') 데이빗, 조엘 
                            span 변호사
                        a(href='mailto:').email
                        span.telephone TEL:
                          a(href='tel:02-3703-4807') 02-3703-4807
                        p.hashtag
                          span 
                            a(href='javascript:void(0);') Technology
                            |, 
                          span 
                            a(href='javascript:void(0);') Media & Telecomm-unications
                            |,
                          span 
                            a(href='javascript:void(0);') Antitrust & Competiti-on
                            |,
                          span 
                            a(href='javascript:void(0);') Intellectual Property
                    li 
                      p.img
                        a(href='javascript:void(0);').img_hover
                          img(src=imgUrl + 'pc/lawyer_04.jpg', alt='%게시물제목')
                      .lawyer_info
                        span.name 
                          a(href='javascript:void(0);') 하지수 
                            span 변호사
                        a(href='mailto:').email
                        span.telephone TEL:
                          a(href='tel:02-3703-4807') 02-3703-4807
                        p.hashtag
                          span 
                            a(href='javascript:void(0);') Technology
                            |, 
                          span 
                            a(href='javascript:void(0);') Media & Telecomm-unications
                            |,
                          span 
                            a(href='javascript:void(0);') Antitrust & Competiti-on
                            |,
                          span 
                            a(href='javascript:void(0);') Intellectual Property
                    li 
                      p.img 
                        a(href='javascript:void(0);').img_hover
                          img(src=imgUrl + 'pc/lawyer_01.jpg', alt='%게시물 제목%')
                      .lawyer_info
                        span.name 
                          a(href='javascript:void(0);') 김효상 
                            span 변호사
                        a(href='mailto:').email
                        span.telephone TEL:
                          a(href='tel:02-3703-4807') 02-3703-4807
                        p.hashtag
                          span 
                            a(href='javascript:void(0);') Technology
                            |, 
                          span 
                            a(href='javascript:void(0);') Media & Telecomm-unications
                            |,
                          span 
                            a(href='javascript:void(0);') Antitrust & Competiti-on
                            |,
                          span 
                            a(href='javascript:void(0);') Intellectual Property
                    li 
                      p.img 
                        a(href='javascript:void(0);').img_hover
                          img(src=imgUrl + 'pc/lawyer_02.jpg', alt='%게시물 제목%')
                      .lawyer_info
                        span.name 
                          a(href='javascript:void(0);') 박마리 
                            span 변호사
                        a(href='mailto:').email
                        span.telephone TEL:
                          a(href='tel:02-3703-4807') 02-3703-4807
                        p.hashtag
                          span 
                            a(href='javascript:void(0);') Technology
                            |, 
                          span 
                            a(href='javascript:void(0);') Media & Telecomm-unications
                            |,
                          span 
                            a(href='javascript:void(0);') Antitrust & Competiti-on
                            |,
                          span 
                            a(href='javascript:void(0);') Intellectual Property
                    li 
                      p.img 
                        a(href='javascript:void(0);').img_hover
                          img(src=imgUrl + 'pc/lawyer_03.jpg', alt='%게시물 제목%')
                      .lawyer_info
                        span.name 
                          a(href='javascript:void(0);') 데이빗, 조엘 
                            span 변호사
                        a(href='mailto:').email
                        span.telephone TEL:
                          a(href='tel:02-3703-4807') 02-3703-4807
                        p.hashtag
                          span 
                            a(href='javascript:void(0);') Technology
                            |, 
                          span 
                            a(href='javascript:void(0);') Media & Telecomm-unications
                            |,
                          span 
                            a(href='javascript:void(0);') Antitrust & Competiti-on
                            |,
                          span 
                            a(href='javascript:void(0);') Intellectual Property
                    li 
                      p.img
                        a(href='javascript:void(0);').img_hover
                          img(src=imgUrl + 'pc/lawyer_04.jpg', alt='%게시물제목')
                      .lawyer_info
                        span.name 
                          a(href='javascript:void(0);') 하지수 
                            span 변호사
                        a(href='mailto:').email
                        span.telephone TEL:
                          a(href='tel:02-3703-4807') 02-3703-4807
                        p.hashtag
                          span 
                            a(href='javascript:void(0);') Technology
                            |, 
                          span 
                            a(href='javascript:void(0);') Media & Telecomm-unications
                            |,
                          span 
                            a(href='javascript:void(0);') Antitrust & Competiti-on
                            |,
                          span 
                            a(href='javascript:void(0);') Intellectual Property
                          
                .btn_center_box
                  a(href='javascript:void(0);').btn_view 더 보기
                
              // 자료와 소식
              #insights.search_section(data-name='insights')
                h3 INSIGHTS 
                  span.text_orange 30건
                
                ul.board_list
                  -for(var i = 0; i < 6; i ++)
                    li
                      a(href='javascript:void(0);')
                        p.title 노동조합 운영비 지원 금지 조항에 대한 헌법불합치 결정
                        p.tag_area 
                          span #4차산업혁명
                          span #패널토론
                          span #규제개혁
                          span #김독혁신
                          span #뉴스
                          span #사회공헌위원회
                          span #4차산업혁명
                        span.date 2018.11.21  
                
                .btn_center_box.p_bottom
                  a(href='javascript:void(0);').btn_view 더 보기
              
              // 사무소 소개
            //
              #about.search_section(data-name='about')
                h3 사무소 소개 
                  span.text_orange 2건
                ul.bullet_list
                  li 
                    a(href='javascript:void(0);') 소개
                  li 
                    a(href='javascript:void(0);') 스토리
          // 검색결과 전체 없음
        //
          p.result_text
            span.text_orange 'ㅡ'
            |에 대한 검색 결과가 
            span.mo_block
              span.text_orange 총 0건
              |입니다.
          .search_cont_area
            .fixed_mo_tab
              ul.anchor_tab.search_tab
                li
                  a(href='javascript:void(0);' data-name='expertise').disabled EXPERTISE
                li
                  a(href='javascript:void(0);' data-name='professionals').disabled PROFESSIONALS
                li
                  a(href='javascript:void(0);' data-name='insights').disabled INSIGHTS
                li
                  a(href='javascript:void(0);' data-name='about').disabled ABOUT
            p.no_data 검색 결과가 없습니다.
              span
                a(href='javascript:void(0);') 지식재산권 사이트
                |에서 찾아보시겠습니까?
            
    footer.footer_wrap
    .dimm
    
    script(type='text/javascript').
      var header = $('header.header_wrap');
      front.pageLoading(header, '../include/header.html', function() {
        
      });
      var footer = $('footer.footer_wrap');
      front.pageLoading(footer, '../include/footer.html', function() {/* callback */});
      
      $(function() {
        // 통합검색 페이지 진입시 header 태그 class bg_white 추가
        $('header').addClass('bg_black');
        
        var btnScrollAnchor = $('.anchor_tab > li > a');
        var scrollTarget = $('.search_content');
        front.scrollAnchor(btnScrollAnchor, 600, scrollTarget, 'on', true);
        
        // 수정사항 19.01.30 스크립트 추가
        var fixedTarget = $('.fixed_mo_tab');
        var fixedoffSet = fixedTarget.offset().top;
        
        $(window).on('scroll', function() {
          var nowPosition = $(window).scrollTop();
          if ($(window).width() > 1024) {
            front.scrollFixed(fixedTarget, nowPosition, fixedoffSet);
          }
        });
        var resizeTimer;
        var windowW = $(window).width();
        $(window).on('resize', function(e) {
          if ($(window).width() == windowW) {return;}
          clearTimeout(resizeTimer);
          resizeTimer = setTimeout(function() {
            if ($(window).width() <= 1024) {
              fixedTarget.removeClass('fixed');
              if (fixedTarget.parent().is('div') && fixedTarget.parent().hasClass('fixed_box')) {
                fixedTarget.unwrap();
              }
            }
          }, 250);
        });
        
        // 검색결과 뉴스영역 menu 클릭시 
        var $btnAllNews = $('.btn_menu_tab > a');
        var $allMenuEle = $('.menu_tab_all');
        front.btnClick($btnAllNews, function($this) {
          if ($this.hasClass('on')) {
            $('body').removeClass('hidden');
            $this.removeClass('on');
            $('.dimm_news.on').remove();
            $allMenuEle.removeClass('on');
          } else {
            front.scrollAni(fixedTarget, function() {
              $this.addClass('on');
              fixedTarget.append('<div class="dimm_news on"></div>').ready(function() {
                $(document).on('touchstart click', '.dimm_news', function() {
                  $('body').removeClass('hidden');
                  $this.removeClass('on');
                  $('.dimm_news.on').remove();
                  $allMenuEle.removeClass('on');
                });
              });
              $allMenuEle.addClass('on');
            });
          }
        });
      });
      
