// output: ../../../../../../publish/html/ko/Legal/member/sub_main_layout.html
-var imgUrl = '../images/dummy/'
doctype html
html(lang='ko')
  include ../include/head.jade
  body
    .skip_navi
      a(href='#content') 본문 바로가기
    header.header_wrap
    
    .container.member
      .top_visual_box
        // 
        .breadcrumb.main
          ul
            li: a(href='javascript:void(0);') Home 
            li: span 구성원
        h2 <strong>PROFESSIONALS</strong>구성원
      .content
        // 공통영역 
        .search_top
          span.big_input
            input(type='text' placeholder='이름을 입력하세요.')
            a(href='javascript:void(0);').btn_delete.hidden_text 검색어 삭제
            a(href='javascript:void(0);').btn_search.hidden_text 검색
        .category_area 
          // 19.01.22 각 li 내 span class='bar_up' 추가 s
          ul.tab_menu.top_tab
            li
              a(href='javascript:void(0);') Practice 
                span 분야별
              span.bar_up
              span.bar
            li
              a(href='javascript:void(0);') Industry
                span 산업별
              span.bar_up
              span.bar
            li
              a(href='javascript:void(0);') Region
                span 지역별
              span.bar_up
              span.bar
            li.pc
              a(href='javascript:void(0);') All
                span 전체
              span.bar_up
              span.bar
          // 19.01.22 각 li 내 span class='bar_up' 추가 e
              
          .tab_container
            .tab_section
              // 분야별 업무분야 pc/mo 기능 변화로 2type class 분리 
              //pc 분야별 
              // 검색 영역 클릭시 class slect 추가
              .pc
                ul.highLight_tab.small_tab
                  li
                    a(href='javascript:void(0);' data-value='tab1') 규제 및 컴플라이언스
                    span.bar
                  li
                    a(href='javascript:void(0);' data-value='tab2') 경영 및 거래 법률 자문
                    span.bar
                  li 
                    a(href='javascript:void(0);' data-value='tab3') 분쟁 해결
                    span.bar
                ul#keyWordTab1.field_list.highLight_js
                  li(data-value='tab1').select
                    a(href='javascript:void(0);') 공공감사 지원
                  li(data-value='tab1')
                    a(href='javascript:void(0);') 공정거래
                  li(data-value='tab1')
                    a(href='javascript:void(0);') 관세 및 국제통상
                  li(data-value='tab3')
                    a(href='javascript:void(0);') 국제중재·소송
                  li(data-value='tab1')
                    a(href='javascript:void(0);') 금융 규제
                  li(data-value='tab2')
                    a(href='javascript:void(0);') 기업구조조정
                  li(data-value='tab2')
                    a(href='javascript:void(0);') 기업인수·합병
                  li(data-value='tab2').select
                    a(href='javascript:void(0);') 기업지배구조
                  li(data-value='tab3')
                    a(href='javascript:void(0);') 기업형사·화이트칼라범죄
                  li(data-value='tab1')
                    a(href='javascript:void(0);') 부패방지·준법경영
                  li(data-value='tab2')
                    a(href='javascript:void(0);') 사모투자
                  li(data-value='tab3')
                    a(href='javascript:void(0);') 소송
                  li(data-value='tab1')
                    a(href='javascript:void(0);') 인사·노무
                  li(data-value='tab2')
                    a(href='javascript:void(0);') 자본시장
                  li(data-value='tab1').select
                    a(href='javascript:void(0);') 조세
                  li(data-value='tab2')
                    a(href='javascript:void(0);') 지식재산권
                  li(data-value='tab2')
                    a(href='javascript:void(0);') 파생상품
                  li(data-value='tab2')
                    a(href='javascript:void(0);') 파이낸싱
                  li(data-value='tab1')
                    a(href='javascript:void(0);') 프라이버시·정보보호
                  li(data-value='tab2')
                    a(href='javascript:void(0);') 해외법무
                  li(data-value='tab1')
                    a(href='javascript:void(0);') 환경
                  li(data-value='tab1')
                    a(href='javascript:void(0);') AML
                  li(data-value='tab1')
                    a(href='javascript:void(0);') FX
              // mo 분야별
              .field_list.mo
                .tab_box.accordion_wrap
                  p 
                    a.btn_toggle.first(href='javascript:void(0);')
                      규제 및 컴플라이언스 
                      span.hidden_text 접기
                  // 3n개씩 노출 필요. 빈 li는 a태그 삭제
                  .box_open.select_box_open
                    // 19.01.28 삭제처리
                      a(href='javascript:void(0);').select_box 선택
                    .scroll
                      ul.field_list
                        li
                          a(href='javascript:void(0);') 공공감사 지원
                        li
                          a(href='javascript:void(0);') 공정거래
                        li
                          a(href='javascript:void(0);') 인사·노무
                        li
                          a(href='javascript:void(0);') 관세 및 국제통상
                        li
                          a(href='javascript:void(0);') 조세
                        li
                          a(href='javascript:void(0);') 금융 규제
                        li.on
                          a(href='javascript:void(0);') 프라이버시·정보보호
                        li
                          a(href='javascript:void(0);') 부패방지·준법경영
                        li
                          a(href='javascript:void(0);') 환경
                .tab_box.accordion_wrap
                  p 
                    a.btn_toggle(href='javascript:void(0);')
                      경영 및 거래 법률 자문 
                      span.hidden_text 펼치기
                  .box_open.select_box_open
                    // 19.01.28 삭제처리
                      a(href='javascript:void(0);').select_box 선택
                    .scroll
                      ul.field_list
                        li
                          a(href='javascript:void(0);') 방송·통신
                        li
                          a(href='javascript:void(0);') 기업구조조정
                        li
                          a(href='javascript:void(0);') 지식재산권
                        li
                          a(href='javascript:void(0);') 기업인수·합병
                        li
                          a(href='javascript:void(0);') 파생상품
                        li
                          a(href='javascript:void(0);') 기업지배구조
                        li
                          a(href='javascript:void(0);') 파이낸싱
                        li
                          a(href='javascript:void(0);') 사모투자
                        li
                          a(href='javascript:void(0);') 해외법무
                        li
                          a(href='javascript:void(0);') 자본시장
                .tab_box.accordion_wrap
                  p 
                    a.btn_toggle(href='javascript:void(0);')
                      분쟁 해결 
                      span.hidden_text 펼치기
                  .box_open.select_box_open
                    // 19.01.28 삭제처리
                      a(href='javascript:void(0);').select_box 선택
                    .scroll
                      ul.field_list
                        li
                          a(href='javascript:void(0);') 국제중재·소송
                        li
                          a(href='javascript:void(0);') 기업형사·화이트칼라범죄
                        li
                          a(href='javascript:void(0);') 소송
                
            .tab_section 
              // mo만 3개씩 열 맞춰서 노출 : 열 안맞을 경우 빈태그 생성 필요
              .select_box_open 
                // 19.01.28 삭제처리
                  a(href='javascript:void(0);').select_box 선택
                .scroll
                  ul#keyWordTab2.field_list
                    li
                      a(href='javascript:void(0);') 방송·통신
                    li
                      a(href='javascript:void(0);') 보험
                    li
                      a(href='javascript:void(0);') 부동산·건설
                    li
                      a(href='javascript:void(0);') 비은행 금융회사
                    li
                      a(href='javascript:void(0);') 에너지
                    li
                      a(href='javascript:void(0);') 엔터테인먼트·스포츠·레저
                    li
                      a(href='javascript:void(0);') 은행
                    li
                      a(href='javascript:void(0);') 자산운용
                    li
                      a(href='javascript:void(0);') 전자금융·핀테크
                    li
                      a(href='javascript:void(0);') 제약·의료기기·식품·화장품
                    li
                      a(href='javascript:void(0);') 증권
                    li
                      a(href='javascript:void(0);') 항공우주·방산 
                    li
                      a(href='javascript:void(0);') 해상
            .tab_section 
              // pc : 4개씩 , mo : 3개씩 열 맞춰서 노출
              .select_box_open 
                // 19.01.28 삭제처리
                  a(href='javascript:void(0);').select_box 선택
                .scroll
                  ul#keyWordTab3.field_list
                    li
                      a(href='javascript:void(0);') 베트남
                    li
                      a(href='javascript:void(0);') 유럽
                    li
                      a(href='javascript:void(0);') 일본
                    li
                      a(href='javascript:void(0);') 중국
                    li
                      a(href='javascript:void(0);') 홍콩
            .tab_section.pc
              // mo만 3개씩 열 맞춰서 노출 : 열 안맞을 경우 빈태그 생성 필요
              ul#keyWordTab4.field_list
                li
                  a(href='javascript:void(0);') 공공감사 지원
                li
                  a(href='javascript:void(0);') 공정거래
                li
                  a(href='javascript:void(0);') 관세 및 국제통상
                li
                  a(href='javascript:void(0);') 국제중재·소송
                li.select
                  a(href='javascript:void(0);') 금융 규제
                li
                  a(href='javascript:void(0);') 기업구조조정
                li
                  a(href='javascript:void(0);') 기업인수·합병
                li
                  a(href='javascript:void(0);') 기업지배구조
                li
                  a(href='javascript:void(0);') 기업형사·화이트칼라범죄
                li
                  a(href='javascript:void(0);') 방송·통신
                li
                  a(href='javascript:void(0);') 베트남
                li
                  a(href='javascript:void(0);') 보험
                li
                  a(href='javascript:void(0);') 부동산·건설
                li
                  a(href='javascript:void(0);') 부패방지·준법경영
                li
                  a(href='javascript:void(0);') 비은행 금융회사
                li
                  a(href='javascript:void(0);') 사모투자
                li
                  a(href='javascript:void(0);') 소송
                li
                  a(href='javascript:void(0);') 에너지
                li
                  a(href='javascript:void(0);') 엔터테인먼트·스포츠·레저
                li
                  a(href='javascript:void(0);') 유럽
                li
                  a(href='javascript:void(0);') 은행
                li
                  a(href='javascript:void(0);') 인사·노무
                li
                  a(href='javascript:void(0);') 일본
                li
                  a(href='javascript:void(0);') 자본시장
                li
                  a(href='javascript:void(0);') 자산운용
                li
                  a(href='javascript:void(0);') 전자금융·핀테크
                li
                  a(href='javascript:void(0);') 제약·의료기기·식품·화장품
                li
                  a(href='javascript:void(0);') 조세
                li
                  a(href='javascript:void(0);') 중국
                li
                  a(href='javascript:void(0);') 증권
                li
                  a(href='javascript:void(0);') 지식재산권
                li
                  a(href='javascript:void(0);') 파생상품
                li
                  a(href='javascript:void(0);') 파이낸싱
                li
                  a(href='javascript:void(0);') 프라이버시·정보보호
                li
                  a(href='javascript:void(0);') 항공우주·방산 
                li
                  a(href='javascript:void(0);') 해상
                li
                  a(href='javascript:void(0);') 해외법무
                li
                  a(href='javascript:void(0);') 홍콩
                li
                  a(href='javascript:void(0);') 환경
                li
                  a(href='javascript:void(0);') AML
                li
                  a(href='javascript:void(0);') FX
        .btn_center_box
          a(href='javascript:void(0);').btn_white.btn_search_reset.btn_hover.bg_black
            span 초기화
          a(href='javascript:void(0);').btn_orange.btn_search_js.btn_hover.bg_orange
            span 검색
        // 검색결과 영역
        .search_result 
          // 검색결과 있음
          #result_top.result_top.result_js
            span.tag 공공감사 지원
              a(href='javascript:void(0);').delete 
            span.tag 기업지배구조
              a(href='javascript:void(0);').delete 
            span.tag 조세
              a(href='javascript:void(0);').delete 
            span.tag 홍길동
              a(href='javascript:void(0);').delete 
            // 19.01.23 띄어쓰기 수정 
            span.text_result 에 대한 검색 결과입니다.
          // '이름' 으로만 검색했을 경우 : 첫 노출 시 최대 8명 노출 그 이상일경우 더보기 버튼 누르면 4명씩 추가 노출
          .wide_box.contact
            ul.lawyer_profile.wide
              li 
                p.img 
                  a(href='javascript:void(0);')
                    img(src=imgUrl + 'pc/lawyer_01.jpg', alt='%게시물 제목%')
                .lawyer_info
                  span.name 
                    a(href='javascript:void(0);') 프랑소와즈 르왈 (Francoise LEWALLE) 
                      span 변호사
                  a(href='mailto:').email.hidden_text 이메일
                  span.telephone T.
                    a(href='tel:02-3703-4807') 02-3703-4807
                  p.hashtag Technology, Media & Telecomm-unications, Antitrust & Competiti-on, Intellectual Property
                    
              li 
                p.img 
                  a(href='javascript:void(0);')
                    img(src=imgUrl + 'pc/lawyer_02.jpg', alt='%게시물 제목%')
                .lawyer_info
                  span.name 
                    a(href='javascript:void(0);') 박마리 
                      span 변호사
                  a(href='mailto:').email.hidden_text 이메일
                  span.telephone T.
                    a(href='tel:02-3703-4807') 02-3703-4807
                  p.hashtag Technology, Media & Telecomm-unications, Antitrust & Competiti-on, Intellectual Property
              li 
                p.img 
                  a(href='javascript:void(0);')
                    img(src=imgUrl + 'pc/lawyer_03.jpg', alt='%게시물 제목%')
                .lawyer_info
                  span.name 
                    a(href='javascript:void(0);') 길벗, 로버트 엘. (Robert L. GILBERT)
                      span 변호사
                  a(href='mailto:').email.hidden_text 이메일
                  span.telephone T.
                    a(href='tel:02-3703-4807') 02-3703-4807
                  p.hashtag Technology, Media & Telecomm-unications, Antitrust & Competiti-on, Intellectual Property
              li 
                p.img
                  a(href='javascript:void(0);')
                    img(src=imgUrl + 'pc/lawyer_04.jpg', alt='%게시물제목')
                .lawyer_info
                  span.name 
                    a(href='javascript:void(0);') 하지수 
                      span 변호사
                  a(href='mailto:').email.hidden_text 이메일
                  span.telephone T.
                    a(href='tel:02-3703-4807') 02-3703-4807
                  p.hashtag Technology, Media & Telecomm-unications, Antitrust & Competiti-on, Intellectual Property
              li 
                p.img 
                  a(href='javascript:void(0);')
                    img(src=imgUrl + 'pc/lawyer_01.jpg', alt='%게시물 제목%')
                .lawyer_info
                  span.name 
                    a(href='javascript:void(0);') 김효상 
                      span 변호사
                  a(href='mailto:').email.hidden_text 이메일
                  span.telephone T.
                    a(href='tel:02-3703-4807') 02-3703-4807
                  p.hashtag Technology, Media & Telecomm-unications, Antitrust & Competiti-on, Intellectual Property
              li 
                p.img 
                  a(href='javascript:void(0);')
                    img(src=imgUrl + 'pc/lawyer_02.jpg', alt='%게시물 제목%')
                .lawyer_info
                  span.name 
                    a(href='javascript:void(0);') 박마리 
                      span 변호사
                  a(href='mailto:').email.hidden_text 이메일
                  span.telephone T.
                    a(href='tel:02-3703-4807') 02-3703-4807
                  p.hashtag Technology, Media & Telecomm-unications, Antitrust & Competiti-on, Intellectual Property
              li 
                p.img 
                  a(href='javascript:void(0);')
                    img(src=imgUrl + 'pc/lawyer_03.jpg', alt='%게시물 제목%')
                .lawyer_info
                  span.name 
                    a(href='javascript:void(0);') 데이빗, 조엘 
                      span 변호사
                  a(href='mailto:').email.hidden_text 이메일
                  span.telephone T.
                    a(href='tel:02-3703-4807') 02-3703-4807
                  p.hashtag Technology, Media & Telecomm-unications, Antitrust & Competiti-on, Intellectual Property
              li 
                p.img
                  a(href='javascript:void(0);')
                    img(src=imgUrl + 'pc/lawyer_04.jpg', alt='%게시물제목')
                .lawyer_info
                  span.name 
                    a(href='javascript:void(0);') 하지수 
                      span 변호사
                  a(href='mailto:').email.hidden_text 이메일
                  span.telephone T.
                    a(href='tel:02-3703-4807') 02-3703-4807
                  p.hashtag Technology, Media & Telecomm-unications, Antitrust & Competiti-on, Intellectual Property
            .btn_center_box
              a(href='javascript:void(0);' class='btn_view') 더 보기
          // '업무분야+이름' 또는 '업무분야' 로만 검색했을 경우
          .wide_box.contact
            h3.p_top0 주요 연락처
            .lawyer_slide
              // slide li 마지막에 class='last' 적용
              ul.lawyer_profile.wide
                li 
                  p.img 
                    a(href='javascript:void(0);')
                      img(src=imgUrl + 'pc/lawyer_01.jpg', alt='%게시물 제목%')
                  .lawyer_info
                    span.name 
                      a(href='javascript:void(0);') 김효상 
                        span 변호사
                    a(href='mailto:').email.hidden_text 이메일
                    span.telephone T.
                      a(href='tel:02-3703-4807') 02-3703-4807
                    p.hashtag Technology, Media & Telecomm-unications, Antitrust & Competiti-on, Intellectual Property
                li 
                  p.img 
                    a(href='javascript:void(0);')
                      img(src=imgUrl + 'pc/lawyer_02.jpg', alt='%게시물 제목%')
                  .lawyer_info
                    span.name 
                      a(href='javascript:void(0);') 박마리 
                        span 변호사
                    a(href='mailto:').email.hidden_text 이메일
                    span.telephone T.
                      a(href='tel:02-3703-4807') 02-3703-4807
                    p.hashtag Technology, Media & Telecomm-unications, Antitrust & Competiti-on, Intellectual Property
                li 
                  p.img 
                    a(href='javascript:void(0);')
                      img(src=imgUrl + 'pc/lawyer_03.jpg', alt='%게시물 제목%')
                  .lawyer_info
                    span.name 
                      a(href='javascript:void(0);') 데이빗, 조엘 
                        span 변호사
                    a(href='mailto:').email.hidden_text 이메일
                    span.telephone T.
                      a(href='tel:02-3703-4807') 02-3703-4807
                    p.hashtag Technology, Media & Telecomm-unications, Antitrust & Competiti-on, Intellectual Property
                li 
                  p.img
                    a(href='javascript:void(0);')
                      img(src=imgUrl + 'pc/lawyer_04.jpg', alt='%게시물제목')
                  .lawyer_info
                    span.name 
                      a(href='javascript:void(0);') 하지수 
                        span 변호사
                    a(href='mailto:').email.hidden_text 이메일
                    span.telephone T.
                      a(href='tel:02-3703-4807') 02-3703-4807
                    p.hashtag Technology, Media & Telecomm-unications, Antitrust & Competiti-on, Intellectual Property
                li 
                  p.img 
                    a(href='javascript:void(0);')
                      img(src=imgUrl + 'pc/lawyer_03.jpg', alt='%게시물 제목%')
                  .lawyer_info
                    span.name 
                      a(href='javascript:void(0);') 데이빗, 조엘 
                        span 변호사
                    a(href='mailto:').email.hidden_text 이메일
                    span.telephone T.
                      a(href='tel:02-3703-4807') 02-3703-4807
                    p.hashtag Technology, Media & Telecomm-unications, Antitrust & Competiti-on, Intellectual Property
                li.last 
                  p.img
                    a(href='javascript:void(0);')
                      img(src=imgUrl + 'pc/lawyer_04.jpg', alt='%게시물제목')
                  .lawyer_info
                    span.name 
                      a(href='javascript:void(0);') 하지수 
                        span 변호사
                    a(href='mailto:').email.hidden_text 이메일
                    span.telephone T.
                      a(href='tel:02-3703-4807') 02-3703-4807
                    p.hashtag Technology, Media & Telecomm-unications, Antitrust & Competiti-on, Intellectual Property
              .slide_control
                span.btn_prev  
                span.btn_next
          .thumnail_list.wide_box
            h3 소속 구성원
            ul.btn_group
              li 
                a(href='javascript:void(0);').on 전체
              li 
                a(href='javascript:void(0);') 변호사 
              li 
                a(href='javascript:void(0);').disabled 외국변호사
              li 
                a(href='javascript:void(0);').disabled 변리사
              li 
                a(href='javascript:void(0);') 회계사
              li  
                a(href='javascript:void(0);') 전문인력
            ul.lawyer_profile
              li 
                p.img 
                  a(href='javascript:void(0);')
                    img(src=imgUrl + 'pc/lawyer_01.jpg', alt='%게시물 제목%')
                .lawyer_info
                  span.name 
                    a(href='javascript:void(0);') 김효상 
                      span 변호사
                  a(href='mailto:').email.hidden_text 이메일
                  span.telephone T.
                    a(href='tel:02-3703-4807') 02-3703-4807
                  p.hashtag Technology, Media & Telecomm-unications, Antitrust & Competiti-on, Intellectual Property
              li 
                p.img 
                  a(href='javascript:void(0);')
                    img(src=imgUrl + 'pc/lawyer_02.jpg', alt='%게시물 제목%')
                .lawyer_info
                  span.name 
                    a(href='javascript:void(0);') 박마리 
                      span 변호사
                  a(href='mailto:').email.hidden_text 이메일
                  span.telephone T.
                    a(href='tel:02-3703-4807') 02-3703-4807
                  p.hashtag Technology, Media & Telecomm-unications, Antitrust & Competiti-on, Intellectual Property
              li 
                p.img 
                  a(href='javascript:void(0);')
                    img(src=imgUrl + 'pc/lawyer_03.jpg', alt='%게시물 제목%')
                .lawyer_info
                  span.name 
                    a(href='javascript:void(0);') 데이빗, 조엘 
                      span 변호사
                  a(href='mailto:').email.hidden_text 이메일
                  span.telephone T.
                    a(href='tel:02-3703-4807') 02-3703-4807
                  p.hashtag Technology, Media & Telecomm-unications, Antitrust & Competiti-on, Intellectual Property
              li 
                p.img
                  a(href='javascript:void(0);')
                    img(src=imgUrl + 'pc/lawyer_04.jpg', alt='%게시물제목')
                .lawyer_info
                  span.name 
                    a(href='javascript:void(0);') 하지수 
                      span 변호사
                  a(href='mailto:').email.hidden_text 이메일
                  span.telephone T.
                    a(href='tel:02-3703-4807') 02-3703-4807
                  p.hashtag Technology, Media & Telecomm-unications, Antitrust & Competiti-on, Intellectual Property
              li 
                p.img 
                  a(href='javascript:void(0);')
                    img(src=imgUrl + 'pc/lawyer_03.jpg', alt='%게시물 제목%')
                .lawyer_info
                  span.name 
                    a(href='javascript:void(0);') 데이빗, 조엘 
                      span 변호사
                  a(href='mailto:').email.hidden_text 이메일
                  span.telephone T.
                    a(href='tel:02-3703-4807') 02-3703-4807
                  p.hashtag Technology, Media & Telecomm-unications, Antitrust & Competiti-on, Intellectual Property
              li 
                p.img
                  a(href='javascript:void(0);')
                    img(src=imgUrl + 'pc/lawyer_04.jpg', alt='%게시물제목')
                .lawyer_info
                  span.name 
                    a(href='javascript:void(0);') 하지수 
                      span 변호사
                  a(href='mailto:').email.hidden_text 이메일
                  span.telephone T.
                    a(href='tel:02-3703-4807') 02-3703-4807
                  p.hashtag Technology, Media & Telecomm-unications, Antitrust & Competiti-on, Intellectual Property
              li 
                p.img 
                  a(href='javascript:void(0);')
                    img(src=imgUrl + 'pc/lawyer_01.jpg', alt='%게시물 제목%')
                .lawyer_info
                  span.name 
                    a(href='javascript:void(0);') 김효상 
                      span 변호사
                  a(href='mailto:').email.hidden_text 이메일
                  span.telephone T.
                    a(href='tel:02-3703-4807') 02-3703-4807
                  p.hashtag Technology, Media & Telecomm-unications, Antitrust & Competiti-on, Intellectual Property
              li 
                p.img 
                  a(href='javascript:void(0);')
                    img(src=imgUrl + 'pc/lawyer_02.jpg', alt='%게시물 제목%')
                .lawyer_info
                  span.name 
                    a(href='javascript:void(0);') 박마리 
                      span 변호사
                  a(href='mailto:').email.hidden_text 이메일
                  span.telephone T.
                    a(href='tel:02-3703-4807') 02-3703-4807
                  p.hashtag Technology, Media & Telecomm-unications, Antitrust & Competiti-on, Intellectual Property
              li 
                p.img 
                  a(href='javascript:void(0);')
                    img(src=imgUrl + 'pc/lawyer_03.jpg', alt='%게시물 제목%')
                .lawyer_info
                  span.name 
                    a(href='javascript:void(0);') 데이빗, 조엘 
                      span 변호사
                  a(href='mailto:').email.hidden_text 이메일
                  span.telephone T.
                    a(href='tel:02-3703-4807') 02-3703-4807
                  p.hashtag Technology, Media & Telecomm-unications, Antitrust & Competiti-on, Intellectual Property
              li 
                p.img
                  a(href='javascript:void(0);')
                    img(src=imgUrl + 'pc/lawyer_04.jpg', alt='%게시물제목')
                .lawyer_info
                  span.name 
                    a(href='javascript:void(0);') 하지수 
                      span 변호사
                  a(href='mailto:').email.hidden_text 이메일
                  span.telephone T.
                    a(href='tel:02-3703-4807') 02-3703-4807
                  p.hashtag Technology, Media & Telecomm-unications, Antitrust & Competiti-on, Intellectual Property
            .paging
              a(href='javascript:void(0);').prev_more.hidden_text 첫 페이지 
              a(href='javascript:void(0);').prev.hidden_text 이전
              a(href='javascript:void(0);').first.on 1
              a(href='javascript:void(0);') 2
              a(href='javascript:void(0);') 3
              a(href='javascript:void(0);') 4
              a(href='javascript:void(0);') 5
              a(href='javascript:void(0);').next.hidden_text 다음
              a(href='javascript:void(0);').next_more.hidden_text 마지막 페이지
          // 검색결과 없음
          p.no_data 검색 결과가 없습니다.
        
        // 공통영역  
        // 19.01.22 class 변경  bg_field -> bg_member
        .notice_news.bg_member 
          .inner_cont.notice_news_js
            h3.white 최근 소식
            ul.notice_list
              -for(var i = 0; i < 6; i ++)
                li
                  a(href='javascript:void(0);')
                    h4.notice_title 수상
                    p.notice_txt 4년 연속 ‘National Law Firm of the Year - South Korea’ 수상 – Asialaw Asia-Pacific
                    span.notice_date 2018.08.30
            .btn_center_box.bg
              a(href='javascript:void(0)').btn_text_more.white 더 보기  
        
    footer.footer_wrap
    .dimm
    
    script(type='text/javascript').
      var header = $('header.header_wrap');
      front.pageLoading(header, '../include/header.html', function() {/* callback */});
      var footer = $('footer.footer_wrap');
      front.pageLoading(footer, '../include/footer.html', function() {/* callback */});
      
      $(function() {
        var accordionWrap = '.accordion_wrap';
        var btnAccordion = $(accordionWrap).find('.btn_toggle');
        front.accordion(btnAccordion, accordionWrap, 'active', 200, function(){
          $('.field_list.mo a.select_box').removeClass('on');
          $('.field_list.mo .box_open').removeClass('on');
          //front.selectDropDown(btndropDown, scrollElement); 19.01.28 삭제처리
        });
        
        var btnHighLight = $('.highLight_tab > li > a');
        var targetElement = $('.highLight_js');
        front.highLight(btnHighLight, 'on', targetElement);
        
        // 업무분야 tab
        var btnCateTab = $('.category_area .tab_menu > li > a');
        var tabContents = $('.category_area .tab_container');
        front.tabMenu(btnCateTab, 'on', tabContents, function($this) {
          //front.selectDropDown(btndropDown, scrollElement); 19.01.28 삭제처리
          if ($(window).width() > 1024) {
            scrollElement.show();
          }
          if ($this.parent().index() != 0) {
            $('#highlight_tab').find('li > a').removeClass('on');
            btnHighLight.removeClass('on');
            $('.highLight_js').find('li').removeClass('on');
            $(accordionWrap).removeClass('active');
            btnAccordion.removeClass('on');
            $('.box_open').removeClass('on').hide();
            $('.select_box_open').removeClass('on');
          }
        });
        
        // select dropdown 함수
        var btndropDown = $('.tab_section a.select_box');
        var scrollElement = $('.select_box_open').find('.scroll');
        //front.selectDropDown(btndropDown, scrollElement); 19.01.28 삭제처리
        
        // 주요연락처 슬라이드 함수
        var slideWrap = $('.lawyer_slide');
        front.slider(slideWrap);
        
        // 검색 버튼 클릭시 함수 실행
        var searchInput = $('.big_input > input[type="text"]');
        var btnSearchResult = $('.btn_search_js');
        var scrollTarget = $('.search_result');
        front.btnClick(btnSearchResult, function() {
          // 데이타 로드 완료시 실행함수
          front.searchLoading(scrollTarget, 1000);
        });
        
        // 초기화 버튼 클릭시 실행함수
        var btnReset = $('.btn_search_reset');
        front.btnClick(btnReset, function() {
          btnCateTab.parent().removeClass('on');
          tabContents.find('> div').removeClass('on');
          searchInput.val('');
          $('html, body').stop().animate({scrollTop: 0}, 500, 'easeOutCubic');
        });
      });
      
      
